
*{
    margin:0px;
    padding:0px;
}
body{
    width: 100%;
    height:auto;
    background-image: url("../img/backgroundimg3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0; 
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover; 
    font-family: 'Gentium Basic';
}
#logo{
    width: 100%;
    height:50px;
    background-color: #ffffff;
    opacity: 0.5;
}

.wrap{
    margin: 10% 40% 10% 10%;  
}
.btm{
    float:right;
    margin:15px 25px 0px 0px;
}


.btm a:link,
.btm a:visited { color: #265C83; }
.btm a:hover   { color: #7FDBFF; }
.btm a:active  {
    transition: color .3s;
    color: #007BE6;
}

.btm .link { text-decoration: none; }


.mid{
    width: 800px;
    border-radius: 10px;
    border:1px solid #35526B;
    padding: 20px;
    background-color: #517594;
    opacity: 0.8;
    margin: -100px 0px 150px 0px;
}
.login{
    width: 500px;
    border-radius: 10px;
    border:1px solid #35526B;
    padding: 20px;
    background-color: #517594;
    opacity: 0.8;
    margin-bottom: 150px;
}

#product {
    width: 1050px;
    height: auto;
    border-radius: 10px;
    border:1px solid #5d5d5d;
    padding: 20px;
    background-color: #fff;
    opacity: 0.8;
}

#product p{
    color: #3a3a3a;
}
.footer{
    height: 50px;
    width: 100%;
    background-color: #fff;
    opacity: 0.5;
}

img{
    width: 200px;
    float: left;
    margin: 0px 20px 10px 0px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    padding: 5px;
}
.mid h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    color: #ffffff;
    text-align: center;
}
.login h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    color: #ffffff;
    text-align: center;
}

.mid h3 {
    font-family: 'sentinel',serif;
    font-weight: 700;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
    color: #3a3a3a;
}
.book p{
    font-family: 'ProximaNova','Helvetica Neue';
    font-size: 14px;
    color: #4f4d4b;
}
.mid p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
    margin: 5px 0px 5px 30px;
}

.login p{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 5px;
    color: #fff;
    float: left;
    padding-left: 100px;
}

blockquote {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}
pre {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}
a {
    transition: color .4s;
    color: #265C83;
    text-decoration: none;
}

a:link,
a:visited { color: #265C83; }
a:hover   { color: #7FDBFF; }
a:active  {
    transition: color .3s;
    color: #007BE6;
}

.link { text-decoration: none; }

.mytext {
    width: 250px;
    height: 25px;
    margin: 0px 0px 10px 100px;
}
.mybtm {
    width: 200px;
    height: 40px;
    margin: 0px 0px 10px 125px;
    background-color: #778899;
    color: #fff;
}

.mytext input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
.mytext input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

